.container{
  /* display: flex; */
  /* justify-content: space-evenly; */
  text-align: center;
  width: 80%;
  margin: o auto;
  background-color: rgb(37, 37, 179);
  color: white;
  padding-bottom: 3rem;
  padding: 1.5rem;
  min-height: 100vh;
}
.form{
 
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
.submit{
  background-color: white;
  color: rgb(24, 24, 95);
  cursor: pointer;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;

}
.input{
  width: 500px;
}
.wrapper{
  /* max-width: 500px;
  max-height: 500px; */
  display: flex;
    justify-content: space-evenly;
   /* flex-direction: row; */
   gap: 2rem;
   flex-wrap: wrap;
}

.card-img-top{
  width: 200px;
  height: 200px;
}
.item{
  background-color: rgb(16, 16, 71);
  color: white;
}
.item :hover{
  /* box-shadow: 0.3rem 0.5rem 0.5rem white; */
  background-color: white;
  color: black;

}
.upper-div{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(32, 32, 110);
  color: white;
}
.upper{
  width: 50%;
}
.upper >img{
  height: 400px;
  width: 400px;

}
.lower{
  padding: 2rem;
  width: 50%;
  background-color: white;
  color: black;
}
.lower > p{
  justify-content: start;

}